/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 #wpadminbar {
  display:none;
 }

 #wp-chat *, #wp-chat *:before, #wp-chat *:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

 .wp-chat-menu-toggler {
   position:fixed;
   bottom:0;
   right:0;
   width:50px;
   height:50px;
   cursor:pointer;
   display:flex;
   align-items:center;
   justify-content:center;
   transition: all 0.3s ease;
   z-index:99;
 }

.wp-chat-icon {
  background:#ED253C;
  width:30px;
  height:30px;
  transition: all 0.3s ease;
}

.wp-chat-icon.icon-blue {
  background:#2563ed;
}

.wp-chat-icon.chat {
  -webkit-mask: url("../img/icons/chat.svg") no-repeat center;
  mask: url("../img/icons/chat.svg") no-repeat center;
}
.wp-chat-icon.new {
  -webkit-mask: url("../img/icons/new.svg") no-repeat center;
  mask: url("../img/icons/new.svg") no-repeat center;
}
.wp-chat-icon.close {
  -webkit-mask: url("../img/icons/close.svg") no-repeat center;
  mask: url("../img/icons/close.svg") no-repeat center;
}
.wp-chat-icon.reduce {
  -webkit-mask: url("../img/icons/reduce.svg") no-repeat center;
  mask: url("../img/icons/reduce.svg") no-repeat center;
}
.wp-chat-icon.send {
  -webkit-mask: url("../img/icons/send.svg") no-repeat center;
  mask: url("../img/icons/send.svg") no-repeat center;
}
.wp-chat-icon.chevron_left {
  -webkit-mask: url("../img/icons/chevron_left.svg") no-repeat center;
  mask: url("../img/icons/chevron_left.svg") no-repeat center;
}
.wp-chat-icon.chevron_right {
  -webkit-mask: url("../img/icons/chevron_right.svg") no-repeat center;
  mask: url("../img/icons/chevron_right.svg") no-repeat center;
}
.wp-chat-icon.crown {
  -webkit-mask: url("../img/icons/crown.svg") no-repeat center;
  mask: url("../img/icons/crown.svg") no-repeat center;
}
.wp-chat-icon.dots-v {
  -webkit-mask: url("../img/icons/dots_vertical.svg") no-repeat center;
  mask: url("../img/icons/dots_vertical.svg") no-repeat center;
}
.wp-chat-icon.dots-h {
  -webkit-mask: url("../img/icons/dots_horizontal.svg") no-repeat center;
  mask: url("../img/icons/dots_horizontal.svg") no-repeat center;
}

.wp-chat-menu-toggler:hover .wp-chat-icon{
  background:#b5182a;
}


#wp-chat-window {
  width:400px;
  position:fixed;
  right:0;
  top:0;
  height:100vh;
  background:#eeeeee;
  z-index:98;
  transition:all 0.5s ease;
  transform:translateX(100%);
  font-size:14px;
}

#wp-chat-window.active {
  right:0;
  transform:translateX(0);
}

#wp-chat-window .wp-chat-window-header {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding: 20px 20px 0 20px;
  margin-top:40px;
}

#wp-chat-window .wp-chat-window-header .wp-chat-title {
  display:flex;
  font-size:30px;
  padding:0;
  margin:0;
}

#wp-chat-window .wp-chat-window-close {
  width:30px;
  height:30px;
  display:flex;
  position:relative;
  cursor:pointer;
}
#wp-chat-window .wp-chat-window-close:hover span {
  height:4px;
}

#wp-chat-window .wp-chat-window-close span {
  height:2px;
  background:black;
  width:30px;
  position:absolute;
  top:50%;
  left:50%;
}

#wp-chat-window .wp-chat-window-close span:first-child {
  transform:translate(-50%, -50%) rotate(45deg);
}

#wp-chat-window .wp-chat-window-close span:last-child {
  transform:translate(-50%, -50%) rotate(-45deg);
}

#wp-chat-window .wp-chat-window-menu {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 20px 20px 0 20px;
}

#wp-chat-window .wp-chat-window-menu .wp-chat-icon.new {
  cursor:pointer;
}
#wp-chat-window .wp-chat-window-menu .wp-chat-icon.new:hover {
  background:#b5182a;
}

#wp-chat-window .wp-chat-window-menu .wp-chat-search {
  margin-left:20px;
  width:100%;
}

#wp-chat-window .wp-chat-window-menu .wp-chat-search input {
  border:none;
  background:#cccccc;
  border-radius:20px;
  width:100%;
  padding:10px;
  outline:none;
}

#wp-chat-window .wp-chat-window-archives-menu {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:10px;
}

#wp-chat-window .wp-chat-window-archives-menu .wp-chat-window-archives-menu-item {
  cursor:pointer;
  display:flex;
  width:100%;
  justify-content:center;
  padding:10px 0;
}

#wp-chat-window .wp-chat-window-archives-menu .wp-chat-window-archives-menu-item:not(:last-child) {
  border-right:1px solid #cccccc;
}

#wp-chat-window .wp-chat-window-archives-menu .wp-chat-window-archives-menu-item.active {
  color:#ED253C;
  font-weight:bold;
}

#wp-chat-window .wp-chat-window-archives-menu .wp-chat-window-archives-menu-item:hover {
  background:#dddddd;
  color:#ED253C;
}

#wp-chat-window .wp-chat-window-archives-menu .wp-chat-window-archives-menu-item.active:hover {
}

#wp-chat-window .wp-chat-window-archives {
  margin-top:10px;
}

#wp-chat-window .wp-chat-window-archives ul {
  list-style:none;
  margin:0;
  padding:0;
  overflow-y:auto;
  height:78vh;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive {
  display:flex;
  flex-direction:row;
  align-items:center;
  cursor:pointer;
  padding:20px;
  border-radius:10px;
  margin-left:10px;
  margin-right:10px;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-empty-archive {
  margin-left:20px;
}

#wp-chat-window .wp-chat-window-archives .wp-chat-window-archives-section {
  display:none;
}

#wp-chat-window .wp-chat-window-archives .wp-chat-window-archives-section.active {
  display:block;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-empty-archive .create_new_conversation_button {
  padding:10px;
  color:#fff;
  background:#ED253C;
  border:none;
  outline:none;
  cursor:pointer;
  font-weight:bold;
  margin-top:10px;
}
#wp-chat-window .wp-chat-window-archives ul li.wp-chat-empty-archive .create_new_conversation_button:hover {
  background:#b5182a;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive:hover {
  background:#dddddd;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar {
  width:44px;
  height:44px;
  border-radius:9999px;
  background:#ccc;
  position:relative;
  min-width:44px;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar.grouped {
  background:transparent;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar.grouped .wp-chat-room-thumbnail-image {
  position: absolute;
  width: 75%;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 999px;
  overflow: hidden;
  display:none;
  top:50%;
  left:50%;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar.grouped .wp-chat-room-thumbnail-image:nth-child(1){
  transform:translate(-75%, -75%);
  display:block;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar.grouped .wp-chat-room-thumbnail-image:nth-child(2){
  transform:translate(-25%, -25%);
  display:block;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-avatar img {
  width:100%;
  height:100%;
  border-radius:999px;
  overflow:hidden;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-content {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-left:10px;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-content .wp-chat-window-archive-title {
  font-size:18px;
  display:flex;
  flex-direction:row;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-content .wp-chat-window-archive-title .wp-chat-window-archive-status {
  display:flex;
  margin: auto 0;
  margin-left:10px;
  background:red;
  border-radius:999px;
  color:#ffffff;
  font-size:11px;
  padding:0px 4px;
  align-items:center;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-content .wp-chat-window-archive-title .wp-chat-window-archive-status.public {
  background:#8d7dc9;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-content .wp-chat-window-archive-last-comment {
  font-size:12px;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive:hover .wp-chat-window-archive-actions {
  opacity:1;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions {
  position:relative;
  margin-left:auto;
  opacity:0;
  padding:5px;
  border-radius:3px;
}
#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions:hover {
  background:#ccc;
}
#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions ul {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  height:auto;
  max-height:200px;
  width:200px;
  background:#fff;
  overflow-x:hidden;
  overflow-y:auto;
  margin:0;
  padding:0;
  flex-direction:column;
  border-radius:3px;
}
#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions.active ul {
  display:flex;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions ul li {
  padding:10px;
  width:100%;
}

#wp-chat-window .wp-chat-window-archives ul li.wp-chat-window-archive .wp-chat-window-archive-actions ul li:hover {
  background:#cccccc;
}

#wp-chat-dialogs {
  position:fixed;
  bottom:0;
  right:50px;
  z-index:99;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
}

.wp-chat-dialog {
  background:#eeeeee;
  border-radius:10px 10px 0 0;
  width:300px;
  margin-left:10px;
  border:1px solid #dddddd;
  position:relative;
  overflow:hidden;
  font-size:14px;
}

.wp-chat-dialog .wp-chat-dialog-header {
  display:flex;
  flex-direction:row;
  align-items:center;
  height:50px;
  overflow:hidden;
  border-radius:10px 10px 0 0;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail {
  width:50px;
  height:50px;
  overflow:hidden;
  cursor:pointer;
  padding:10px;
  position:relative;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail.grouped .wp-chat-room-thumbnail-image {
  position: absolute;
  width: 50%;
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 999px;
  overflow: hidden;
  display:none;
  left:50%;
  top:50%;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail.grouped .wp-chat-room-thumbnail-image:nth-child(1){
  transform:translate(-75%, -75%);
  display:block;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail.grouped .wp-chat-room-thumbnail-image:nth-child(2){
  transform:translate(-25%, -25%);
  display:block;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail:hover {
  background:#ccc;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-thumbnail img {
  width:100%;
  height:100%;
  border-radius:9999px;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-title {
  font-size:15px;
  padding: 0 10px 0 10px;
  max-width:calc(300px - 52px - 50px);
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  height: 100%;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-title:hover {
  background:#dddddd;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-header-actions {
  display:flex;
  flex-direction:row;
  margin-left:auto;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-header-actions .wp-chat-dialog-header-action {
  width:25px;
  height:25px;
  cursor:pointer;
  overflow:hidden;
  padding:5px;
  border-radius:5px;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-header-actions .wp-chat-dialog-header-action:hover {
  background:#dddddd;
}

.wp-chat-dialog .wp-chat-dialog-header .wp-chat-dialog-header-actions .wp-chat-dialog-header-action .wp-chat-icon {
  width:100%;
  height:100%;
}

.wp-chat-dialog .wp-chat-dialog-content {
  max-height:300px;
  min-height:300px;
  overflow-x:hidden;
  overflow-y:auto;
  padding:10px
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message {
  display:flex;
  flex-direction:row;
  margin-bottom:10px;
  overflow:hidden;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.system {
  background:#ddd;
  border-radius:5px;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-avatar {
  width:25px;
  height:25px;
  min-width:10%;
  border-radius:9999px;
  overflow:hidden;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-avatar img {
  width:100%;
  height:100%;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-content {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-left:10px;
  max-width:90%;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.system .wp-chat-message-content {
  margin-left:0;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-content .wp-chat-message-details {
  display:flex;
  flex-direction:row;
  margin-bottom:5px;
  align-items:center;
  font-size:10px;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-content .wp-chat-message-details .wp-chat-message-from {
  margin-right:5px;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-content .wp-chat-message-details .wp-chat-message-time {
  margin-left:5px;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.system .wp-chat-message-content .wp-chat-message-details .wp-chat-message-time {
  margin-left:0;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.system .wp-chat-message-content .wp-chat-message-text {
  background:transparent;
  font-size:12px;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message .wp-chat-message-content .wp-chat-message-text {
  font-size:15px;
  background:#fff;
  padding:5px 10px;
  border-radius:0 10px 10px 10px;
  max-width:100%;
  word-break:break-word;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.self {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.self .wp-chat-message-content {
  margin-left:0;
  margin-right:10px;
  align-items:flex-end;
}

.wp-chat-dialog .wp-chat-dialog-content .wp-chat-message.self .wp-chat-message-content .wp-chat-message-text {
  border-radius:10px 0 10px 10px;
  background:#ED253C;
  color:#fff;
}

.wp-chat-dialog .wp-chat-dialog-reduced {
  display:none;
}

.wp-chat-dialog.reduced {
  background:transparent;
  width:auto;
  border-radius:0;
  border:none;
}

.wp-chat-dialog.reduced .wp-chat-dialog-header,
.wp-chat-dialog.reduced .wp-chat-dialog-content,
.wp-chat-dialog.reduced .wp-chat-dialog-footer
{
  display:none;
}

.wp-chat-dialog.reduced .wp-chat-dialog-reduced {
  display:block;
  width:44px;
  height:44px;
  cursor:pointer;
  overflow:hidden;
  border-radius:9999px;
}

.wp-chat-dialog.reduced .wp-chat-dialog-reduced img {
  width:100%;
  height:100%;
}
.wp-chat-dialog .wp-chat-dialog-footer {
  display:flex;
  flex-direction:row;
  padding:10px;
  align-items:center;
  height:50px;
}
.wp-chat-dialog .wp-chat-dialog-footer input {
  width:90%;
  padding:10px;
  border:none;
  border-radius:9999px;
  outline:none;
}

.wp-chat-dialog .wp-chat-dialog-footer .send-btn{
  cursor:pointer;
}

.wp-chat-dialog .wp-chat-dialog-footer .send-btn:hover{
  background:#dddddd;
}
.wp-chat-dialog .wp-chat-dialog-footer .send-btn:active{
  background:#cccccc;
}


.wp-chat-dialog.blank .new_dialog_title {
  display:flex;
  flex-direction:row;
  width:100%;
  margin-bottom:10px;
}

.wp-chat-dialog.blank .new_dialog_search {
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
}

.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container {
  position:relative;
  width:100%;
}

.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container .new_dialog_search_input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 9999px;
  outline: none;
}

.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container .dialog_search_results {
  position:absolute;
  top:100%;
  width:92%;
  background:#fff;
  border-radius:5px;
  left:20px;
  margin-top:10px;
}
.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container .dialog_search_results ul {
  list-style:none;
  margin:0;
  padding:0;
}

.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container .dialog_search_results ul li {
  cursor:pointer;
  padding:10px;
}

.wp-chat-dialog.blank .new_dialog_search .new_dialog_search_container .dialog_search_results ul li:hover {
  background:#dddddd;
}


#wp-chat-menu-archives {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 50px;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index:99;
}

#wp-chat-menu-archives .wp-chat-dialog {
  margin-bottom:10px;
  margin-left:0;
}

.wp-chat-dialog-popup {
  position:absolute;
  top:0;
  background:#eeeeee;
  height:100%;
  width:100%;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header .wp-chat-dialog-popup-title {
  font-size: 15px;
  padding: 0 10px 0 10px;
  max-width: calc(300px - 52px - 50px);
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header .wp-chat-dialog-header-popup-actions {
  display: flex;
  flex-direction: row;
  margin-left:10px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header .wp-chat-dialog-header-popup-actions .wp-chat-dialog-header-popup-action {
  width: 25px;
  height: 25px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header .wp-chat-dialog-header-popup-actions .wp-chat-dialog-header-popup-action:hover {
  background: #dddddd;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-header .wp-chat-dialog-header-popup-actions .wp-chat-dialog-header-popup-action .wp-chat-icon {
  width:100%;
  height:100%;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content {
  max-height: 300px;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list {
  list-style:none;
  margin:0;
  padding:0;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid #ccc;
  padding:10px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant:last-child {
  border-bottom:0;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant span {
  font-size:14px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .delete,
.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .ownership {
  width: 25px;
  height: 25px;
  min-width:25px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .ownership {
  cursor:default;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .delete:hover {
  background:#dddddd;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .delete .wp-chat-icon,
.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant .ownership .wp-chat-icon {
  width:100%;
  height:100%;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-participants-list .wp-chat-dialog-popup-participant-input {

}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-dialog-popup-content-row {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:10px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-content .wp-chat-switch {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
  margin-left:10px;
}

.wp-chat-switch input {
	position: absolute;
	top: -15px;
	left: -15px;
	width: 0;
	height: 0;
}

.wp-chat-switch input + span {
  position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: #9d9d9d;
 border-radius: 10px;
}

.wp-chat-switch input:checked + span {
	background: #ED253C;
}

.wp-chat-switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .25s;
}

.wp-chat-switch input:checked + span:before {
	left: 18px;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-footer {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:10px;
  position:relative;
}
.wp-chat-dialog-popup .wp-chat-dialog-popup-footer .wp-chat-add-participant-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.wp-chat-dialog-popup .wp-chat-dialog-popup-footer .participants_search_results {
  position: absolute;
  bottom:100%;
  width: 92%;
  background: #fff;
  border-radius: 5px;
  left: 10px;
  margin-top: 10px;
}
.wp-chat-dialog-popup .wp-chat-dialog-popup-footer .participants_search_results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wp-chat-dialog-popup .wp-chat-dialog-popup-footer .participants_search_results ul li {
  cursor: pointer;
  padding: 10px;
}
.wp-chat-dialog-popup .wp-chat-dialog-popup-footer .participants_search_results ul li:hover {
  background:#ddd;
}

.wp-chat-dialog-popup.popup-room .wp-chat-dialog-popup-title input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.wp-chat-dialog-popup.popup-room .wp-chat-dialog-popup-footer button {
  font-size: 14px;
  border: none;
  outline: none;
  background: #ED253C;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  color:#fff;
}

.wp-chat-dialog-popup.popup-room .wp-chat-dialog-popup-footer button:hover {
  background:#b5182a;
}
